.click{
    display: block;
    margin: 10px;
    width: 300px;
    border-radius: 20px;
    font-size: 10px;
    font-weight: bold;
}
.login{
    padding:10px;
    border-radius: 20px;
    width: 200px;
    border: thin solid deepskyblue;
    background-color: white;
    color: deepskyblue;
}

.click.one {
    background-color: deepskyblue;
    border: thin solid deepskyblue;
    color: white;
    font-size: 15px;
}
.click.two {
    border: thin solid deepskyblue;
    background-color: white;
    color: deepskyblue;
    font-size: 15px;
}
.button-1{
    background-color:deepskyblue;
    border:thin solid deepskyblue;
    padding:10px;
    margin-bottom: 10px;
    border-radius:10px;
    text-decoration: none;
    }
 
.button-1 :hover{
background-color: aqua;
color: black;
}    
.link-1{
    color:white; 
    text-decoration: none; 
}